@media screen and (min-width: 1024px){
    .footer-a, .footer-p{
        font-size: 18px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) { /* tablet */
    .footer-a, .footer-p{
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {  /* phone */
    .footer-a, .footer-p{
        font-size: 11px;
    }  
}
footer{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    text-align: center;
    color: white;
}
.footer-content{
    display: flex;
    justify-content: space-around;
}
.section{
    flex: 1;
}
h3{
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    padding: 0;
} 
ul li{
    margin-bottom: 5px;
}  
.footer-a{
    text-decoration: none;
    color: wheat;
}