@media screen and (min-width: 1024px){
    .step-name, .step2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
        vertical-align: middle;
        border-bottom: 3px solid white;
    }
    #region-select {
        width: 600px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) { /* tablet */
    .step-name, .step2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
        vertical-align: middle;
        border-bottom: 3px solid white;
    }
    #region-select {
        width: 350px;
    }
}

@media screen and (max-width: 767px) {  /* phone */
    .step-name, .step2{
        display: none !important;
    } 
    #region-select {
        width: 250px;
    }
}
*{
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background: #293542;
}
.container{
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1 0 auto;
}
#calc-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    padding-top: 3%;
}
/* select */
#region-select {
    font-family: Arial, sans-serif;
}
.select-h2{
    text-align: center;
    vertical-align: middle;
}
.count-lebel{
    color: wheat;
}
/**/

.step{
    padding: 3%;
    width: 100%;
    border-bottom: 3px solid white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle; 
}
.step2, .step2-button, .step2-container{
    display: none;
    opacity: 0;
    animation: load 2s forwards;
}
@keyframes load {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.step-container{
    flex: 2;
    padding-right: 5%;
}

/*range*/
#count-number{
    width: 50px;
    padding: 4px 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

/**/
#range-input{
    appearance: none;
    margin-right: 15px;
    width: 300px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}
#range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 #555;
    background-color: wheat;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }

/*button*/
.step2-button{
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 2%;
}
.step2-button input{
    background-color: rgba(255,255,255, 0.164);
    color: white;
    font-family: 'montserrat', sans-serif ;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    margin-top: 25px;
    border: 3px solid white;
    cursor: pointer;
}
.step2-button input:hover{
    background-color: white;
    color: black;
}
/**/
h2{
    color: white;
}
.step-highlight{
    color: #00ccff;
}


/*separator*/
.separator{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: baseline;
}
.form-container{
    flex: 1;
}
.map{
    display: none;
    flex: 1;
    padding: 1%;
}
.marker{
    width: 35px;
    height: 50px;
    transform: translate(-50%, -50%);
}
/**/
