<div class="footer-content">
    <div class="section">
        <h3 class="footer-h3">Контакты</h3>
        <p class="footer-p">Телефон: 8-925-925-7991</p>
        <p class="footer-p">Email: maks.komendant@yandex.ru</p>
    </div>
    <div class="section">
        <h3 class="footer-h3">О нас</h3>
        <p class="footer-p">Веб-сервис для построения оптимальных маршрутов по объектам культурного наследия России</p>
    </div>
    <div class="section">
        <h3 class="footer-h3">Ссылки:</h3>
        <ul class="footer-ul">
            <li class="footer-li"><a class="footer-a" href="/">Главная</a></li>
            <li class="footer-li"><a class="footer-a" href="/route/">Построить маршрут</a></li>
            <li class="footer-li"><a class="footer-a" href="">Личный кабинет</a></li>
        </ul>
    </div>
</div>