<!DOCTYPE html>
<html>
    <head>
        <%- include("head.ejs") %>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/menu.css" />
        <script type="text/javascript" src="js/main_background.js"></script>
        <script type="text/javascript" src="js/main_button.js"></script>
    </head>
<body>
    <div class="container">
        <div class="menu">
            <div class="leftmenu">
                <img src="/img/logo.jpg" class="logo">
            </div>
            <div class="rightmenu">
                <ul>
                    <li id="highlight"><a href="/">Домашняя страница</a></li>
                    <li><a href="/route">Построить маршрут</a></li>
                    <% if(log == true) {%>
                    <li id="red-highlight"><a href="/logout">Выйти</a></li>
                    <%} else{%>
                    <li><a href="/login">Авторизация</a></li>
                    <li><a href="/register">Регистрация</a></li>
                    <%} %>
                </ul>
            </div>
        </div>
        <div class="text">
            <h4>Путеводитель * Справочник</h4>
            <h1> ОДИССЕЯ </h1>
            <h3> Объекты культурного наследия России </h3>
            <button class="btn"> Построить маршрут</button>
        </div>
    </div>
</body>
<footer>
    <%- include("footer.ejs") %>
</footer>
</html>